<header>
  <a href="/"><h1 class="header">Bill Trikalinos</h1></a>
  <p class="header">{{page.subtitle}}</p>
  <ul>
    <li><a class="buttons webicon twitter" target="_blank" href="https://twitter.com/basiloungas"></a></li>
    <li><a class="buttons webicon github" target="_blank" href="https://github.com/billtrik"></a></li>
    <li><a class="buttons webicon stackoverflow" target="_blank" href="http://stackoverflow.com/users/659610/basiloungas"></a></li>
    <li><a class="buttons webicon linkedin" target="_blank" href="https://www.linkedin.com/pub/bill-trikalinos/a/85b/1ba"></a></li>
    <li><a class="buttons cv" target="_blank" hreflang="en_US" href="bill_trikalinos_cv_06_2016.pdf">Download CV</a></li>
  </ul>
</header>
