<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Bill Trikalinos is a software engineer with web developing experience. Expertise in Javascript, Ruby on Rails, PHP, MySQL, HTML, CSS" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/webicons.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include webicons_modernizr.html %}
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <section>{{ content }}</section>
    </div>

    {% include footer.html %}

    {% include ga.html %}
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
